---
const { entry } = Astro.props;
---

<a
  href={`/library/${entry.id}`}
  class="archive-card"
  data-tags={entry.data.tags.join(",")}
  data-id={entry.id}
  data-type={entry.data.type}
> 

  {
    entry.data.cover && (
      <img
        src={entry.data.cover}
        alt={entry.data.title}
        class="archive-cover"
      />
    )
  }

  <h3 class="t-outline">{entry.data.title}</h3>

  <p class="t-outline">{entry.data.description}</p>

  <div class="tag-row t-outline">
    {
      entry.data.tags.map((tag: unknown) => (
        <span class="tag t-outline">{tag}</span>
      ))
    }
  </div>

</a>